
# Created by https://www.gitignore.io/api/codekit

### CodeKit ###
# General CodeKit files to ignore
config.codekit
/min

### CodeKit Patch ###
*/codekit-config.json
.codekit-cache

# End of https://www.gitignore.io/api/codekit
